:root {
    /*  Main TB Logo Colors */
    --white: #fff;
    --purple: #101088;
    --hot-pink: #F6007B;
    --gold: #FDED00;
    --orange: #E68731;
    --biege: #C1B69A;
    --interior-magenta:# ;
    --interior-pale-pink: #EBA9C4 ;
    --interior-fire-pink: #842C2E ;
    --interior-neon-blue: #54D9CD;
    --interior-cream: #EAE5D7;
    --interior-salmon: #FAAC7E;
    --interior-90s-purple: #8D5FC5;
  }

  .nutrition-container {
    /* overflow: hidden;
    margin: 0px 20px 20px 20px;
    border-radius: 0px 0px 25px 25px;
    background-color: var(--biege); */
  }

  .nutrition-body {
    overflow: hidden;
    margin: 20px 20px 20px 20px;
    padding: 15px;
    border-radius: 25px 25px 25px 25px;
    border: 4px solid black;
    background-color: var(--interior-pale-pink);
    color: var(--interior-cream);
    /* text-shadow: -4px 4px 3px black; */
    box-shadow: 5px 10px;
    letter-spacing: 0.2rem;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    letter-spacing: normal;
    
  }

  .nutrition-body > p {
    color: black;
      padding: 15px;
      margin: 15px;
      
  }

  .nutrition-body > ol {
    color: black;
      /* padding: 15px;
      margin: 15px; */
      
  }

  .nutrition-body > h2 {
     text-shadow: -4px 4px 3px black; 
      /* padding: 15px;
      margin: 15px; */
      
  }