@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

:root {
  /*  Main TB Logo Colors */
  --white: #fff;
  --purple: #101088;
  --hot-pink: #F6007B;
  --gold: #FDED00;
  --orange: #E68731;
  --biege: #C1B69A;
  --interior-magenta:# ;
  --interior-pale-pink: #EBA9C4 ;
  --interior-fire-pink: #842C2E ;
  --interior-neon-blue: #54D9CD;
  --interior-cream: #EAE5D7;
  --interior-salmon: #FAAC7E;
  --interior-90s-purple: #8D5FC5;
}


.product {

}

.burritos-container {
  margin: 20px 20px 20px 20px;
  border-radius: 20px 20px 25px 25px;
  background-color: var(--biege);
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;

}

.product-card {
  margin: 10px;
  /* box-sizing: border-box; */
  border: 2px black;
  border-radius: 25px 25px 25px 25px;
  background-color: var(--interior-cream);
}
