:root {
    /*  Main TB Logo Colors */
    --white: #fff;
    --purple: #101088;
    --hot-pink: #F6007B;
    --gold: #FDED00;
    --orange: #E68731;
    --biege: #C1B69A;
    --interior-magenta:# ;
    --interior-pale-pink: #EBA9C4 ;
    --interior-fire-pink: #842C2E ;
    --interior-neon-blue: #54D9CD;
    --interior-cream: #EAE5D7;
    --interior-salmon: #FAAC7E;
    --interior-90s-purple: #8D5FC5;
  }


.footer {
    background-color: var(--interior-cream);
}
.first-half-box {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.btn {
    height: 40px;
    width: 14vw;
  
  /* display: flex;
  flex-direction: row; */
  align-content: center;
  margin: 2rem 10px;
  padding: 2px;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: var(--interior-pale-pink);
  color: #101088;
  padding: 8px 20px;
  border: 3px solid #101088;
  border-radius: 20px;
  transition: all 0.3 ease-out;
  grid-gap: 10px;
  font-family: 'Bungee Inline', sans-serif;
}

.btn:hover {
    background-color: #101088;
    color: #fff;
    transition: all 0.9 ease-in-out;
  }

.second-half-box {
    text-align: center;
    font-family: 'Bungee Inline', sans-serif;
    font-size: 12px;
    padding: 5px;
}

/* Links */ 

.link {
  text-decoration: none;
  color: inherit;
}