
/* Slider */

.slider {
  position:relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-arrow {
  /* position: absolute; */
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  /* position: absolute; */
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide:active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}


/* Hero */

.hero-img {
  object-fit: cover;
  width: 100%;
  height: 1000px;
  position: fixed;
  z-index: -1;
  /* border-radius: 10px; */
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  z-index: 2;
  
}

.hero-container > h1 {
  color: #fff;
  font-size: 70px;
  margin-top: -100px;
  font-family: 'Bungee Inline', sans-serif;
  text-shadow: 4px 4px 8px black;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Bungee Inline', sans-serif;
  text-shadow: 4px 4px 8px black;
}


.hero-btns  .btns {
  margin: 6px;
  padding: 2px;
  height: 40px;
  width: 14vw;
  align-content: center;
  border-radius: 20px;
  transition: all 0.3 ease-out;
  grid-gap: 10px;
  font-family: 'Bungee Inline', sans-serif;
  border: 3px solid #101088;
  justify-content: center;
  align-items: center;
  
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
