:root {
    /*  Main TB Logo Colors */
    --white: #fff;
    --purple: #101088;
    --hot-pink: #F6007B;
    --gold: #FDED00;
    --orange: #E68731;
    --biege: #C1B69A;
    --interior-magenta:# ;
    --interior-pale-pink: #EBA9C4 ;
    --interior-fire-pink: #842C2E ;
    --interior-neon-blue: #54D9CD;
    --interior-cream: #EAE5D7;
    --interior-salmon: #FAAC7E;
    --interior-90s-purple: #8D5FC5;
  }


 .serving-container  {
     position: relative;
     text-align: center;
    height: 100vh;
    width: 100%;
    object-fit: contain;
    border-style: solid;
    border-width: 3px;
}

.serving-items {
    position: relative;
    color: #fff;
    margin-top: -700px;
    font-size: 50px;
    font-family: 'Bungee Inline', sans-serif;
    text-shadow: 4px 4px 8px black;
}


.background-img {
    object-fit: cover;
    width: 100%;
    height: 800px;
    position: static;
    z-index: -1;
    background-color: white;
}

.btns {
    color: #101088;
    background-color: fff;
    border: 3px solid #101088;
    border-radius: 20px;
    height: 40px;
    width: 14vw;
    margin: 2rem 10px;
    padding: 2px;
    justify-content: center;
    transition: all 0.3 ease-out;
    font-family: 'Bungee Inline', sans-serif;
}

.btns:hover {
    background-color: #101088;
    color: #fff;
    transition: all 0.9 ease-in-out;
  }



